fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
google-generativeai
requests
moviepy<2.0.0
opencv-python
pillow
python-multipart


SQLAlchemy>=2.0,<3.0
alembic>=1.13,<2.0
psycopg[binary]>=3.1,<4.0